#ROS

#A_LOAM_WS
**/build
**/devel
A_LOAM_WS/.catkin_workspace
A_LOAM_WS/src/CMakeLists.txt

#embedded
embedded/12.1-helloworld/helloworld
embedded/12.1-helloworld/helloworld.c.bak

embedded/12.2-file/linux
embedded/12.2-file/file
embedded/12.2-file/file.c.bak
embedded/12.2-file/linux.txt

embedded/makefileTest/*.o
embedded/makefileTest/helloworld
#

