#git
.git/

#ROS
mrobot_ws/**/build
mrobot_ws/**/devel
#mrobot_ws/**/.catkin_workspace
#mrobot_ws/**/src/CMakeLists.txt
mrobot_ws/**/**/build
mrobot_ws/**/**/.vscode


#A_LOAM_WS
**/build
**/devel
A_LOAM_WS/.catkin_workspace
A_LOAM_WS/src/CMakeLists.txt
A_LOAM_WS/src/A-LOAM/build
A_LOAM_WS/src/A-LOAM/.vscode
A_LOAM_WS/src/A-LOAM/folder-alias.json

#embedded
embedded/**/*.c.bak
embedded/**/**/*.c.bak
embedded/**/.vscode

embedded/12.1-helloworld/helloworld

embedded/12.2-file/linux
embedded/12.2-file/file
embedded/12.2-file/linux.txt

embedded/makefileTest/*.o
embedded/makefileTest/helloworld


#Qt_WallPaper
Qt_WallPaper/**/**.user
Qt_WallPaper/**/**.user.**
Qt_WallPaper/build-**/

#ColorPicker
ColorPicker/build-HTYColorPicker-unknown-Debug/
ColorPicker/src/HTYColorPicker.pro.user

