<launch>
    <!-- kittiHelper是使用kitti数据集的一个启动launch -->
    <node name="kittiHelper" pkg="aloam_velodyne" type="kittiHelper" output="screen">
        <!-- 数据集文件夹位置：${HOME}是~文件夹 -->
        <param name="dataset_folder" type="string" value="/home/john/kitti_data/" />
        <!-- 顺序数字 -->
        <param name="sequence_number" type="string" value="00" />
        <!-- 计算轨迹的同时打包成bag输出 -->
        <!-- <param name="to_bag" type="bool" value="false" /> -->
        <param name="to_bag" type="bool" value="true" />
        <!-- 输出为bag的位置，需采用绝对路径 -->
        <param name="output_bag_file" type="string" value="/home/john/kitti_bag/kitti_00.bag" /> <!-- replace with your output folder -->
        <!-- 发布延迟 -->
        <param name="publish_delay" type="int" value="1" />
    </node>
</launch>